/*-%%%========================= HOME UPPER =================================%%%%-*/
#home-upper {
    padding:35px 0;
    background-color:#eee;
    background: url("/golgonphp/assets/images/bg.jpg") fixed;
}
/*======================= Slideshow tab sự kiện/khuyến mãi =============================*/
#slider-tab {
    float:left;
    padding:1px 0 0 0;
}
.slider-tab-inner {
    height:412px;
    overflow:hidden;
}
/*======================= Ảnh khi ấn các tabs =============================*/
.slide-0{
    display:none;
    position:relative;
}
.slide-0 img {
    width:100%;
    height:412px;
}
/*======================= Previous/Next =============================*/
.slider-event-button {
    width:99%;
    margin:auto;
    display:block;
    float:left;
    text-align:center;
    position:absolute;
    z-index:2;
    top:170px;
}
.slider-event-button button {
    border:none;
    background-color:rgba(0,0,0,0);
    color:#eee;
    font-size:40px;
    cursor:pointer;
}
.slider-event-button button:hover {
    color:#fff;
}
/*======================= Dots =============================*/
#stop {
    color:#eee;
}
#stop:hover {
    color:#ed3a53;
    cursor:pointer;
}
.dots {
    position:absolute;
    text-align:center;
    right:10px;
    z-index:2;
    top:390px;
}
.dot-item {
    width:15px;
    height:15px;
    border:1px solid #d7d7d7;
    border-radius:50%;
    margin:0 5px;
}
/*======================= Ảnh khi ấn previous/next  =============================*/

#slider-event .slide-1 {
    display:block;
    height:350px;
}
.slide-1 {
    position:absolute;
    z-index:1;
}
/*======================= Tabs =============================*/
.tabs{
    width:100%;
    display:flex;
}
.tab-item {
    flex:1;
    height:67px;
    padding:16px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    border-top:2px solid #e8e8e8;
    cursor:pointer;
    background-color:#fff;
}
.tab-item:hover {
    background-color:#eee;
}
.tab-item.active {
    border-top:2px solid #ed3a53;
}

/*======================= Banner quảng cáo cạnh tab slider =============================*/

#advertisement .row-right{
    justify-content:space-between;
    padding-left:5px;
}
#advertisement .row-right a {
    overflow:hidden;
    position:relative;
}
#advertisement .row-right img {
    width:100%;
    height:158px;
    padding:2px 0;
}

@media only screen and (max-width:900px) {
    .slider-tab-inner {
        height:300px;
    }
    .slide-0 img {
        height:300px;
    }
    #advertisement {
        width:100%;
    }
    #advertisement .row-right {
        flex-direction:row;
    }
}

@media only screen and (max-width:600px) {
    .tab-item {
        height:100px;
    }
    #advertisement .row-right {
        display:block;
    }
}

/*-%%%========================= MARQUEE =================================%%%%-*/
.home-marquee-frame {
    margin-bottom:40px;
}
.home-marquee-ad {
    background-color:#eee;
    padding:10px 10px;
    position:relative;
    border:1px solid #eee;
}
.home-marquee-notify {
    position:absolute;
    left:0;
    top:0;
}
.home-marquee a {
    color:#ed3a53;
    padding:0 50px;
    font-weight:bold;
    font-family:Roboto;
}

/*-%%%========================= HOME NEWS =================================%%%%-*/
#home-news {
    background-color:#fff;
    padding:10px 0;
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
/*-%%%========================= TRENDING =================================%%%%-*/
.trending {
    padding:10px 0;
}
.trending-title {
    padding:15px 0px;
    border-bottom:1px solid #ebebeb;
    align-items: flex-end;
    color:#000;
}
.trending-title-left {
    align-items: flex-end;
}
.trending-title .prev-next {
    text-align:right;
}
.trending-title .prev-next span:hover {
    color:#ed3a53;
    cursor:pointer;
}
.trending-title > div {
    font-family: Righteous, cursive;
}
.trending-title a{
    font-family: Poppins;
    color: #555;
    letter-spacing:1px;
    line-height: 22px;
    font-weight:500;
    padding:0 20px;
    cursor:pointer;
}
.trending-title .selected {
    color:#e62e04;
}
.trending-title a:hover {
    color:#e62e04;
}
.tr-banner {
    padding:30px 0;
    position:relative;
    overflow:hidden;
}
.tr-banner img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    object-position: 0 50%;
}
/*-%%%========================= HOME BODY =================================%%%%-*/
#home-body {
    margin-top:30px;
}
.home-body-block {
    background-color:#fff;
    margin:50px 0;
    position:relative;
    overflow:hidden;
    height:500px;
}
.home-body-side-banner img{
    width:100%;
    height:500px;
}
/*-%%%========================== PRODUCTS ==================================%%%-*/
.products{
    display:flex;
    flex-wrap:wrap;
    padding:15px 10px;
}
/*-%%%========================== PRODUCTS SLIDE ==================================%%%-*/
.products-line {
    display:none;
    width:100%;
    height:430px;
    overflow:hidden;
    position:relative;
}
.abs {
    width:250%;
    flex-wrap:nowrap;
    position:absolute;
    top:0;
    left:0;
    padding:30px 10px;
    transition: 0.1s ease-in-out;
}
.abs .product-card {
    width:28%;
    margin-left:0;
}
#tab1,#tab3,#tab9 {
    display:block;
}
/*-%%%========================== PRODUCTS CARD ==================================%%%-*/
.product-card {
    display:flex;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:20px;
    flex-direction:column;
}
.product-card:hover {
    box-shadow:0 0 3px #bbb;
    box-shadow:0px 0px 10.56px 0.44px rgba(0, 0, 0, 0.14);
}
.product-info {
    padding:10px 0;
}
.product-info .pprice {
    font-size:20px;
    font-weight:500;
    color:#f25575;
}
/*-%%%========================== PRODUCTS INNER CARD IMAGE==================================%%%-*/

.product-image {
    position:relative;
    overflow:hidden;
    height:250px;
}
.product-image:after {
    content:'';
    background-color:rgba(0,0,0,0.1);
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    opacity:0.2;
    display:block;
}
.product-image:hover:after {
    cursor:pointer;
    opacity:1;
    animation:fading 2s;
}
.product-image img{
    width:100%;
}
.product-image img:hover {background-color:rgba(1,1,1,0.7);}
.product-card .product-info {
    margin-top:auto;
    text-align:center;
    color:#000;
    font-size:14px;
}
/*-%%%========================== PRODUCTS DISPLAY BLOCK ==================================%%%-*/
.inner-content-image {
    display:block;
    width:100%;
    height:30%;
    bottom:0;
    opacity:0;
    color:#666;
    border-style:none;
    position:absolute;
    z-index:5;
    left:0;
}
.inner-content-image .upper-block {
    border-style:none;
    background-color:#828282;
    color:#fff;
    padding:8px 10px;
    font-weight:bold;
    font-size:16px;
    position:absolute;
}
.inner-content-image .upper-block:hover {
    cursor:pointer;
    background-color:rgba(37,35,35,0.8);
}
.upper-block-1 {
    bottom:250%;
}
.upper-block-2 {
    bottom:150%;
}
.product-image:hover > .inner-content-image {
    opacity:1;
}

/*-%%%========================== ADVERTISEMENT LINE ==================================%%%-*/
.qcline div {
    padding: 0 10px;
    position:relative;
    overflow:hidden;
}
.qcline img{
    width:100%;
    height:180px;
}

/*-%%%========================== HOME INFO ==================================%%%-*/
#home-info {
    background-color:#fff;
    padding:10px 0;
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    height:400px;
    margin-bottom:50px;
}
