* {box-sizing:border-box;}
a {
    color:#000;
    text-decoration: none;
}
ul,li {
    list-style:none;
    margin:0;
    padding:0;
}
/*=================== BODY========================*/
body {
    width:100%;
    height:100%;
    margin:0;
/*    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    font-family:'Roboto', sans-serif;
/*    font-family: poppins,sans-serif;*/
    font-size:13px;
    font-style:normal;
    color:#808080;
}
/*=================== DISPLAY ========================*/
.inline-block {
    display:inline-block;
}
.flex {
    display: flex;
    text-align: center;
    align-items: center;
}
.flex-col {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/*=================== container ========================*/
.container {
    max-width:1240px;
    padding:0 20px;
    margin:auto;
}

/*=================== FLOAT ========================*/
.left {float:left;}
.right {float:right;}

/*=================== BORDER ========================*/

.brda {border:1px solid #d6d6d6;}
.brda-2-dashed {
    border:2px dashed #d6d6d6;
}
.brdl {border-left:1px solid #d6d6d6;}
.brdr {border-right:1px solid #d6d6d6;}

.clearfix:after {
    content:'';
    display:table;
    clear:both;
}
button {
    padding:10px 15px;
}

/*=================== GRID COLUMN ========================*/
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .col-xs-0 {display:none;}
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}
@media only screen and (min-width: 600px) and (max-width:899px) {
  /* For tablets: */
    .col-sm-0 {display:none;}
    .col-sm-1 {width: 8.33%;flex-basis:8.33%;}
    .col-sm-2 {width: 16.66%;flex-basis:16.66%;}
    .col-sm-3 {width: 25%;flex-basis:25%;}
    .col-sm-4 {width: 33.33%;flex-basis:33.33%;}
    .col-sm-5 {width: 41.66%;flex-basis:41.66%;}
    .col-sm-6 {width: 50%;flex-basis:50%;}
    .col-sm-7 {width: 58.33%;flex-basis:58.33%;}
    .col-sm-8 {width: 66.66%;flex-basis:66.66%;}
    .col-sm-9 {width: 75%;flex-basis:75%;}
    .col-sm-10 {width: 83.33%;flex-basis:88.33%;}
    .col-sm-11 {width: 91.66%;flex-basis:91.66%;}
    .col-sm-12 {width: 100%;flex-basis:100%;}
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
    .col-0 {display:none;}
    .col-1 {width: 8.33%;flex-basis:8.33%;}
    .col-2 {width: 16.66%;flex-basis:16.66%;}
    .col-2-5 {width:20%;flex-basis:20%;}
    .col-3 {width: 25%;flex-basis:25%;}
    .col-4 {width: 33.33%;flex-basis:33.33%;}
    .col-5 {width: 41.66%;flex-basis:41.66%;}
    .col-6 {width: 50%;flex-basis:50%;}
    .col-7 {width: 58.33%;flex-basis:58.33%;}
    .col-8 {width: 66.66%;flex-basis:66.66%;}
    .col-9 {width: 75%;flex-basis:75%;}
    .col-10 {width: 83.33%;flex-basis:88.33%;}
    .col-11 {width: 91.66%;flex-basis:91.66%;}
    .col-12 {width: 100%;flex-basis:100%;}
} 